[2020-08-18 11:27] EricPostMaster opened #3 "ZeroDivisionError during install"
It took me three tries to run the script and download MathJax.  The first two times I got this error:

[code]

For some reason, it just worked on the third attempt even though I didn't do anything differently.  I don't know what caused the error, but until it's solved I think it would be good to add a note to the README.md to help new users troubleshoot.

[2020-08-18 11:59] EricPostMaster commented on #3
It seems like the problem might be

[code]

I'm looking at datetime.time() right now to see if we can use microseconds instead...

[2020-08-18 12:47] thisiscam commented on #3
@EricPostMaster I have just fixed this on master
https://github.com/thisiscam/math-with-slack/blob/master/math-with-slack.py#L369
and
https://github.com/thisiscam/math-with-slack/blob/master/math-with-slack.py#L375

Try catch might not be necessary here but it avoids problems :)
Let me know if this is working for you!

[2020-08-18 13:45] EricPostMaster commented on #3
@thisiscam - Looks great!  I have never used try/except, so I'm glad to see your solution.

I am new to this, so is there a way for me to test the fix now that I have math-with-slack installed on my computer?  Or do I need to uninstall it and reinstall with the new master?

[2020-08-18 14:11] EricPostMaster commented on #3
Working like a charm.  Closing issue.

[2020-08-18 14:11] #3 closed

[2020-09-04 12:48] dylwil3 opened #4 "SyntaxError line 385"
I'm bad at technology, so here's everything I did (in case I did something obviously silly):

I have MacOS. I copied and pasted everything from the python file (https://raw.githubusercontent.com/thisiscam/math-with-slack/master/math-with-slack.py) into a text document (in Visual Studio Code), saved it as math-with-slack.py in documents, opened terminal, cd to documents, entered "sudo python math-w

[2020-09-04 13:02] thisiscam commented on #4
Nice catch, this is a bug! Thanks for reporting.

I have updated the script, can you try your steps again and see if it works for you?

[2020-09-04 13:10] dylwil3 commented on #4
It works now! Thank you!

[2020-09-04 13:11] #4 closed

[2020-09-16 17:44] Miladiouss opened #5 "Publish on Slack Apps"
Thank you for your great product. Can you please release it on Slack Apps so it could be installed by non-technical people?

[2020-09-16 18:09] thisiscam commented on #5
That would be a very luring idea. However this repo currently does not support publishing as a Slack App, because it needs to inject code into the Slack client itself.

[2020-09-16 18:11] thisiscam commented on #5
I am willing to create release versions different OSs so that non-tech people can just click and install the plugin (potentially with a GUI too), would that be of interest to you?

[2020-09-18 20:10] Miladiouss commented on #5
That is better than nothing, but I think it is about trust. Perhaps you should contact slack and ask them to include those codes in their next release.

[2020-09-18 20:11] Miladiouss commented on #5
This would have huge implications and you can convince them your audience is wide. I'm sure people will support you.

[2020-09-18 20:22] thisiscam commented on #5
@Miladiouss I agree that there is a trust issue, on top of the "technical barrier" this cmd tool presents.

I did a few searches a while back, and seems like this LaTeX support is never really on Slack's radar, according to the official Twitter. Here are some random samples (among many other official replies):
https://twitter.com/nart_kenobi/status/1022397187748241408
https://twitter.com/SlackHQ/s

[2020-09-30 16:53] Sivaram46 opened #6 "Getting [WinError 32] while running the script with u flag"
I've downloaded and run your script, but it doesn't work for me. So I want to uninstall it by running the script with `u` flag. Then I got an error as
`Using Slack installation at: c:/Users\username\AppData\Local\slack\app-4.9.0\resources\app.asar
[WinError 32] The process cannot access the file because it is being used by another process: 'c:/Users\\sivaram\\AppData\\Local\\slack\\app-4.9.0\\reso

[2020-09-30 17:17] thisiscam commented on #6
Can you quit Slack and try again? Overall on Windows one need to quit and restart Slack before and after running the script. Also the script might need Admin permission if Slack is installed at a privileged location.

[2020-09-30 17:18] thisiscam commented on #6
But please let me know if still doesn't work for you and I will take a look!

[2020-10-12 20:47] voland66 opened #7 "Alternative math delimiters or browser plugin"
Hi,
Thanks for a great script. I wonder if it is possible to make it compatible with a "Latex in slack" plugin which exists for firefox and chrome. That plugin uses non-standard math delimiters, $$ and $$$ for inline and display math respectively. As a result the interoperation of your code with that plugin is imperfect whenever members of a slack group use different solutions.

The browser plugin

[2020-10-12 20:51] thisiscam commented on #7
Have you tried https://github.com/thisiscam/math-with-slack#tex-customization?
I imagine you'd want something like:
[code]

[2020-10-12 20:58] thisiscam commented on #7
Sorry, above doesn't work. Try this instead (tested on my end):
[code]

[2020-10-12 21:13] voland66 commented on #7
I think it works though what I did is to use '\$' for inline math and
'\$\$' for display math. This way the standard latex delimiters work and
I can use parenthesis/brackets when there are users who use browser plugin.

Thanks

Yuri

On 10/12/20 1:58 PM, Cambridge Yang wrote:

[2020-10-12 21:40] #7 closed

[2020-10-18 04:11] thisiscam commented on #5
Closing now as nothing to be done here.

[2020-10-18 04:11] #5 closed

[2020-10-18 04:12] thisiscam commented on #6
I'm closing this for now. But let please reopen if anything turns up!

[2020-10-18 04:12] #6 closed

[2020-10-23 14:29] jmshea opened #8 "Math does not render for me on Mac OS Slack 4.10.3"
I see no difference after installing, although the install said it was successful. Any hints on debugging would be appreciated.

[2020-10-23 14:40] thisiscam commented on #8
Make sure that you restart Slack after installing? This means that you need to right click -> quit from the macOS dock.

If you've tried and doesn't work, you can do (after quiting Slack)
[code]

Then, right click anywhere on Slack -> Inspect Elements -> Console -> See if there's any suspicious warnings/errors?

[2020-10-23 14:41] thisiscam commented on #8
Also, I use macOS with 4.10.3 and it is working fine at the moment.

[2020-10-23 14:57] jmshea commented on #8
Maybe this is the problem?

DevTools failed to load SourceMap: Could not parse content for https://app.slack.com/client/T01ATF8662V/preload.bundle.js.map: Unexpected token < in JSON at position 0

[2020-10-23 15:01] thisiscam commented on #8
I don't think so. That error has been there since version 4.1.0 I believe, and I also have it now.

Can you send a screenshot of what you are trying to render?

Another possibility is that there's some rendering bug in MathJax, which we have certainly seen before.

[2020-10-23 15:03] jmshea commented on #8
I deleted Slack.app, did a fresh install, reran the installation script, and all is well now. Thanks for your help.

[2020-10-23 15:03] #8 closed

[2020-10-30 11:49] LortKrassbeter opened #9 "How to make it work with the snap installation of Slack?"
Hi,
I have Slack installed via snap on Ubuntu 20.04.1 LTS 64-bit.
When running the script I get the following error:
[code]
I don't know how the ```app.asar.mwsbak``` works nor how this is somehow mounted as a  filesystem..
How to fix this permissions problem?

[2020-11-02 17:22] thisiscam commented on #9
Currently this repo does not support Snap installed Slack.
Reason is that Snap directories are read-only.
Please see:
https://askubuntu.com/questions/919091/why-can-snap-files-not-be-modified-in-any-way
https://askubuntu.com/questions/1046606/cannot-edit-system-file-snap-phpstorm-even-with-root-account-in-ubuntu-18-04

Is there anything preventing you from installing from .deb package?

[2020-11-02 17:26] thisiscam commented on #9
If you so'd like, you _could_ potentially use one of the directions given above to unmount the file system -> run math-with-slack.py -> remount.

I'd prefer not to bake that functionality into math-with-slack since that seems dangerous and could break things.
However, if you found a good solution feel free give it a PR!

[2020-11-03 10:42] LortKrassbeter commented on #9
Thanks for pointing me to those questions!
I fixed it by using the .deb install as you suggested.

[2020-11-03 16:33] thisiscam commented on #9
No problem!

[2020-11-03 16:33] #9 closed

[2020-11-28 05:35] nicomeza opened #11 "Error while installing : Read-only file system"
Hello,

I tried to instll using the command :

And I got :

I appreciate any suggestion.

Thanks

[2020-11-28 05:59] thisiscam commented on #11
This is the same issue as #9.
Basically this repo does not support snap install. If you really have to, you might find some of my suggestions in the above issue helpful.

[2020-12-04 22:01] cub525 opened #12 "Fails to install: OSError"
![issue](https://user-images.githubusercontent.com/49500036/101218830-0172b180-3641-11eb-9ea3-267a89d0b4e9.png)
I'm using Anaconda and windows 10

[2020-12-04 23:23] thisiscam commented on #12
Just for my understanding: which shell and Python are you using? For example, is it batch, power shell or windows bash?

I think I have seen this error occasionally in the CI but was not able to reproduce it. It will be best if you can provide more information so that I can reproduce this.

Thanks!

[2020-12-05 00:33] cub525 commented on #12
The picture is from windows CMD, I did try it in Powershell as well, although it did fail.
N.B. These are launched through conda 4.9.2 (python isn't in the PATH)

[2020-12-05 19:56] thisiscam commented on #12
Ok @cub525 did you make sure that you have Slack closed when running the command? Windows does not allow concurrent file access.

[2020-12-05 21:16] thisiscam commented on #12
I added some diagnosis handling for the error reporting.
Please let me know if the problem persists.

[2020-12-05 21:16] #11 closed

[2020-12-07 16:01] cub525 commented on #12
Ok, this was all User error, just needed to close slack

[2020-12-07 16:06] #12 closed

[2020-12-17 17:57] ultimatecheese opened #13 "Version for Discord"
This is not an _issue_, more a "fork request". (I could not see a better place for writing this, though.)

How easy do you think it would be to make this work for Discord? It seems to me that the underlying structures of the two are fairly similar. Perhaps a Discord version wouldn't be so difficult?

Of course, I could be completely mistaken.

[2020-12-17 22:46] thisiscam commented on #13
It is possible.

These the required steps to do what you proposed:
- find the entry point in app.asar
- locate the class decorator for the chat messages, so that MathJax can be injected

The second step seems pretty easy, since Discord App has the developer menu option.

For the first step I downloaded discord and unpacked its `app.asar`. But I was not able to find an entry point where I can get a

[2020-12-28 01:41] akira-t opened #17 "Not working (the executable is replaced to switch between architectures for M1 chip?)"
Not working. (Mac 2020 late Intel, Mac OS 10.15.7, Slack 4.12)
Maybe it is because the binary file "/Applications/Slack.app/Contents/Resources/app.asar" is replaced to switch between the one for Intel chip and M1 chip executables. Once I replace "/Applications/Slack.app/Contents/Resources/app.asar" by "/Applications/Slack.app/Contents/Resources/app-x64.asar", it worked.

---Log---

Using Slack ins

[2020-12-29 00:23] thisiscam commented on #17
Thanks for the report.

Should be fixed by #8c27865 now. Will reopen if there's more problem on arm64 (I don't have an ARM machine at hand to test it).

[2020-12-29 00:23] #17 closed

[2021-01-05 13:35] galwiner opened #18 "Installation fails with Errno 22: invalid argument"
Hi,
I've tried using both the binary and python script installers but am getting an error.
I have python 3.7.9 installed, running on win10 64 bit.
see image below.
thanks for your help!

Gal

![image](https://user-images.githubusercontent.com/552959/103652103-4608aa00-4f6b-11eb-9d66-435710aa2e29.png)

[2021-01-06 20:09] thisiscam commented on #18
Did you make sure that Slack is closed when running this?

If so, can you check the file permission for the app.asar?
Most likely you need to run the command as admin. Also see the caveat here https://github.com/thisiscam/math-with-slack#package-and-software-managers

Please let me know if this still doesn't work for you. I have seen this kind of behavior in the CI, but it goes away after I killed

[2021-01-07 19:57] galwiner commented on #18
yes, you are right! i just didn't kill it before... silly
thanks very much! works beautifully

[2021-01-07 19:57] #18 closed

[2021-02-05 19:56] albinahlback opened #19 "Double underscore converts to italic font"
On Linux, when writing two underscores for subscripts, it converts the text in between to italics and also removes the underscores. This is really hard to work with.

Example: `a_1 y = z x_1` turns to `a<1 y = z x>1` where <·> means it is written in italic, which also removes the support for displaying math.

Is it possible to override Slack on this?

[2021-02-06 20:10] thisiscam commented on #19
I can look into this.
But to clarify, you meant that this occurs during _typing_ ?

[2021-02-06 21:08] albinahlback commented on #19
Correct.

[2021-02-07 03:31] thisiscam commented on #19
I looked into this a bit, and seems like Mac has a different behavior compared to what you described in Linux.
I can try with a Linux machine and see if I can reproduce.

In the mean time, can you try Preferences -> Advanced -> turn on "Format message with Markup"? This seems to turn off the auto formatting entirely, and (always) assume that you are writing markup.
Does this satisfies your need?

[2021-02-07 12:03] albinahlback commented on #19
Yes, it does! Thank you!

[2021-03-15 17:02] dang1507 opened #21 "Invalid Argument"
Several versions of Slack are installed.
0) c:\Users\myusername\AppData\Local\slack\app-4.13.0\resources\app.asar <== (default)
1) c:\Users\myusername\AppData\Local\slack\app-4.12.2\resources\app.asar
Choose from above:0

Using Slack installation at: c:\Users\myusername\AppData\Local\slack\app-4.13.0\resources\app.asar

Downloading MathJax...100%, 4.4 MB / 4.4 MB, 1488.4 KB/s, 3.0 secc

Traceback

[2021-03-15 17:15] thisiscam commented on #21
Which version of math-with-slack are you using?
Is it the release version for Windows or the one on `master` branch?

[2021-03-15 17:47] thisiscam commented on #21
In either case, I have just updated the repo to give better error message.
Please try again with the updated version and report back if it's still not working for you?

[2021-03-18 01:06] thisiscam commented on #21
Closing. Assuming this is a duplicate of #18.
Error message should be better reported now.

[2021-03-18 01:06] #21 closed

[2021-03-18 01:08] thisiscam commented on #13
Closing since I don't think there's anything to be done here rn.
Please reopen if you have more ideas.

[2021-03-18 01:08] #13 closed

[2021-03-18 11:56] dang1507 commented on #21
I just saw this. I'll give it a try and let you know. I've been using the
master branch.

On Wed, Mar 17, 2021, 21:07 Cambridge Yang ***@***.***> wrote:

[2021-03-18 12:05] dang1507 commented on #21
Worked like a charm.

Thank you!

On Thu, Mar 18, 2021, 07:56 Daniel Girardi ***@***.***> wrote:

[2021-04-11 19:00] jeisner opened #22 "getting access to the unrendered TeX"
Thanks for this awesome solution!

One issue that sometimes comes up: sometimes another user posts a formula and I want to reply with a slightly modified version, or even just quote what they said, including the formula.

Unfortunately, I can't get access to the tex that is underneath their image (unless I turn off math-with-slack!).
If I was the one who posted the previous formula, then I can get

[2021-04-11 21:45] thisiscam commented on #22
If you right click on the rendered equation there should be an option to let you copy to clip board?

I agree that perhaps a "select -> ctrl+c" solution would be even better.

[2021-05-26 14:23] pranavm1502 opened #23 "Doesn't work on MacOS Big Sur version 11.2.3?"
Hello,

Running the python script appropriately finds a Slack installation and installs mathjax. However, after restarting Slack the latex options don't seem to work. Any ideas?

[2021-05-26 20:20] thisiscam commented on #23
I probably need more information. I'm currently on 11.4 and the plugin appears to work fine.
Did you install from App Store or the dmg downloaded from Slack website)?
What chip is your machine: M1 or intel?
Could you also make sure you only have one copy of Slack installed?

[2021-06-05 21:41] dpo opened #24 "option file?"
The script documentation says that I can specify a *file* with MathJax options when installing (https://github.com/thisiscam/math-with-slack/blob/master/math-with-slack.py#L67). However, the README only shows an example where the config is given explicitly on the command line. I wasn't successful specifiying a file. What is the exact syntax and what should that file contain?

For instance, if I cr

[2021-06-06 19:09] thisiscam commented on #24
Hi,

At the time of your issue, this `mathjax-tex-options` only accepted inline options string not file path --- that was an oversight caused by unintentional git merges. Thanks for bringing it up, and It should be fixed now. Once you updated, a working example on my end:
[code]
where `test_config.js` contains (I grabbed from http://docs.mathjax.org/en/latest/options/input/tex.htm):
[code]

This o

[2021-06-06 21:18] dpo commented on #24
Amazing, thank you so much! This makes it much easier to share configs and update Slack with a given config file.

[2021-06-07 00:21] thisiscam commented on #24
I've used the inline option to share the config, so that I can just send people the command without any additional config files. But admittedly, the inline option requires escaping every slash, which makes it unreadable.

I will close this for now, though I'm open to suggestions for a more usable interface. So feel free to open a new one if you (or anyone) have ideas.

[2021-06-07 00:21] #24 closed

[2021-06-07 00:23] thisiscam commented on #23
@pranavm1502 Did you make any progress on this?
I'm closing this for now, but please reopen if you see any more problems.

[2021-06-07 00:23] #23 closed

[2021-06-07 00:25] thisiscam commented on #22
@jeisner I'm closing this for now since it seems like "right click -> copy" would work.
Please feel free to reopen if you have any suggestions!

[2021-06-07 17:31] jeisner commented on #22
Hmm, when I right-click on a rendered post, I get a menu that has a single
item, "Copy  Ctrl+C", but ti s grayed out.  So this solution isn't working
for me.

[Update: It was grayed out because no text was selected.]

On Sun, Jun 6, 2021 at 8:25 PM Cambridge Yang ***@***.***>
wrote:

[2021-06-07 17:37] thisiscam commented on #22
@jeisner  that is very curious.
Which operating system are you on?

[2021-06-07 17:42] thisiscam commented on #22
This is what I see on my Mac:

<img width="300" alt="Screen Shot 2021-06-07 at 1 38 36 PM" src="https://user-images.githubusercontent.com/7684342/121064570-c2f7b400-c795-11eb-937e-338082d482e7.png">

[2021-06-07 19:24] jeisner commented on #22
Oh, I see -- you have to right-click on the formula itself (as you'd said in an earlier post) and then you get a MathJax menu.  I was clicking elsewhere on the post.  (I'm on Linux, btw.)

That does work for me for getting the text for a single long formula.  On the other hand, it doesn't help for copying a paragraph that is mostly text but keeps mentioning $x$ and $y$ and $y^2$.

Perhaps you'd be

[2021-06-08 05:08] thisiscam commented on #22
@jeisner I understand your request now.

TBH, this seems more like something Slack should fix. Currently right click a message on slack does give one a "copy" option, but that option does nothing! This is bad UX IMO.

If Slack will ever fix this problem, the raw formulas would have been copied automatically with the message too!

[2021-06-08 05:22] thisiscam commented on #22
On the other hand, it appears that selecting spans of text that contains an MathJax equation is currently not possible: https://github.com/mathjax/MathJax/issues/2240

[2021-06-08 22:53] thisiscam commented on #22
@jeisner I pushed a small update according to suggestions by the MathJax developers: https://groups.google.com/g/mathjax-users/c/1BzTQFINbqY/m/xGYAlhDNAwAJ.

If you try this new update copying text should "sort of work". It's far from perfect but I'd still like to share my progress now since I'm not sure when this issue will be entirely resolved.

With this update, if you select a paragraph that c

[2021-06-09 02:01] jeisner commented on #22
Oh that's brilliant.  Great find, and thanks so much for implementing it!

[2021-06-09 02:01] jeisner commented on #22
Hmm, since you (or MathJax) is doctoring the HTML anyway, could this perhaps be handled by inserting some unobtrusive character before/after a formula image that is initial/final in a message?  Perhaps just U+200B `Zero Width Space`?  This would provide surrounding text that can be selected.

[2021-06-09 04:06] thisiscam commented on #22
@jeisner

I just tried this but unfortunately it appears that zero width space is not selectable. My guess is that probably because it has zero width, it's impossible to click on the character to select it in the first place. However, the thin space character https://www.compart.com/en/unicode/U+2009 does work, though once copied out the spaces are preserved.

Unfortunately, I'm not a JS guru (per

[2021-06-09 07:15] jeisner commented on #22
I was thinking that click-drag might be able to get past it.

Perhaps someone else will be able to figure this out then.

Perhaps deletable via JS.

Good point!  I tried this on Ubuntu and found that triple click selects a paragraph.  To pick up adjacent paragraphs as well, I can triple click and drag, so I can indeed get the whole message.  Not very discoverable but does work!

[2021-06-10 15:22] thisiscam opened #25 "TODOs for copiable TeX"
This is an updated summary for #22.

Currently selecting and copying messages will copy the unrendered TeX. However, here are some leftover TODOs that will make the UX better.

- [ ] Make a selected formula highlighted. This might be doable with some JS using events; or it might be possible to add a layer below the formula that is actually selectable text.
- [ ] Make formulas at begin or end of a

[2021-06-10 15:24] thisiscam commented on #22
@jeisner I will close this issue in favor of #25, which summarizes the current TODOs.

[2021-06-10 15:24] #22 closed

[2021-10-14 03:11] melsophos opened #26 "Install mathjax from local file"
It would be useful that `--mathjax-url` could accept also a local path to avoid downloading mathjax. The reason is that when having a snap version of Slack, it is [necessary to reinject mathjax after every reboot](https://github.com/fsavje/math-with-slack/issues/32#issuecomment-479852799).

[2021-10-14 22:08] thisiscam commented on #26
I updated the script to address your request.

Let me know if it works for you? The local path needs to point to the `tgz` file you download from [registry.npmjs.org](registry.npmjs.org)

[2021-10-15 01:15] melsophos commented on #26
It works well, thanks a lot!

[2021-11-13 16:25] motiwari opened #27 "Slack v4.22.0 doesn't open after `math-with-slack` installation"
`math-with-slack` has stopped working with v4.22.0 and no longer renders LaTeX properly.

I tried reinstalling `math-with-slack` but after doing so, Slack will fail to open and needs to be re-installed.

On MacOS Big Sur 11.6

Repro steps:
- Install Slack v4.22.0 from Mac
- clone the `math-with-slack` repository
- `python math-with-slack.py`
- Try to launch the Slack app

[2021-11-13 17:46] thisiscam commented on #27
Oops.
They updated some things related to security: https://slack.com/release-notes/mac.

I haven't fully consumed what they actually did. But there's a chance that this script will no longer work due to the increased security.

Any help is welcomed!

[2021-11-13 17:53] motiwari commented on #27
Thanks for the prompt response; would love to help but unfortunately won't have the time. I'll downgrade to 4.21 for now

[2021-11-13 20:09] thisiscam commented on #27
I have a working solution with my manual modifications. I will try to automate this process and report back.

FWIW, reference to the key change:
https://paper.dropbox.com/doc/Electron-ASAR-Integrity-QrEbSA149226qARwYOcp9

[2021-11-13 21:50] motiwari commented on #27
Thank you @thisiscam ! For anyone needing a temporary workaround on Mac, I downloaded [Slack v4.21.1](https://slack.en.uptodown.com/mac/download/4052850) , then ran:

`defaults write com.tinyspeck.slackmacgap SlackNoAutoUpdates -bool YES`
`python math-with-slack.py`

and restarted Slack. Warning: this made me log in to all my workspace again

[2021-11-14 03:57] thisiscam commented on #27
@motiwari #29 should address this problem.

I am willing to know if it works for anyone (or not).

[2021-11-14 13:34] motiwari commented on #27
It works now, thank you @thisiscam !

[2021-11-14 14:41] motiwari commented on #27
There seems to be another issue now :( -- whenever quitting the Slack app and reopening, it logs the user out of all Slack workspaces and the user needs to log back in to all of them again

[2021-11-14 19:08] thisiscam opened #30 "App routinely logs user out on macOS after Slack 4.22"
This is a separate issue created from information in #27.
Currently, the script is fixed to handle Slack's new mechanism of verifying the app's integrity.
However, it appears that during login Slack attempts to read from Apple's keychain for user authentication information. Because the fix requires modifications to the code, Apple gives an error:
[code]
And Slack will log the user off due to the f

[2021-11-14 19:09] thisiscam commented on #27
@motiwari Thanks for the find. Let's move the discuss to #30.

[2021-11-14 19:09] #27 closed

[2021-11-14 19:11] thisiscam commented on #30
FWIW, my intuition here is that there's very little we can do, since we don't really want to tamper with Apple's code signing process.
But this makes me wonder if Slack might refuse a user to login if the code sign fails one day. If that happens, the script cannot work anymore for sure.

[2021-11-19 22:42] motiwari commented on #30
@thisiscam do you think it's possible to do something akin to what users need to do for `gdb`? https://sourceware.org/gdb/wiki/PermissionsDarwin

[2021-11-19 22:44] motiwari commented on #30
Also @thisiscam actually the issue occurs in Slack <4.22 as well :(

[2021-11-19 22:48] thisiscam commented on #30
I should be able to fix this one.

[2021-11-19 22:49] thisiscam commented on #30
I will in investigate

[2021-11-21 20:01] thisiscam commented on #30
@motiwari Could you try the branch https://github.com/thisiscam/math-with-slack/tree/fix_logout_for_old_version? I don't have access to an older Slack client (the `SlackNoAutoUpdates` trick doesn't work for me for some reason)

[2021-11-21 20:24] thisiscam commented on #30
Oh wow. I think I got this to work. Basically I had to remove the existing code sign, and sign it myself with the same entitlements.

[2021-11-22 04:33] thisiscam commented on #30
Running the scripts here: https://github.com/thisiscam/math-with-slack/tree/master/macos-codesign solve this problem.

These are modified based on the above linked gdb information:
[code]
[code]

[2021-11-22 04:36] thisiscam commented on #30
Now, one question is if we should include these scripts as part of the main `math-with-slack.py`.
The upside is that we get back a one-liner patch.
My main concern, however, is that not everyone would want to the main script to contain a piece of code that might modify the code signatures.

[2021-11-22 05:07] motiwari commented on #30
Nice @thisiscam !! I'm glad this is working again!!

My opinion is that they should be run as part of `math-with-slack.py`, since they are now a necessity and nothing would work without them. Perhaps prompt the user / provide some sort of interstitial like the following?

`You are about create a new certificate to codesign the modified Slack app. Are you sure you want to continue (y/n):`

[2021-11-22 05:45] thisiscam commented on #30
On my end the scripts works, but it logs me out every time I quick Slack. So the script is working, to some extent.

For some background, Slack might do this log-off thing because:
- in theory, there's no way to prevent code injection like our script if the script has sudo access
- but code signing at least protects against threats coming lower than the Keychain level -- the effect is that if the

[2021-11-22 06:46] thisiscam commented on #30
#32 implements optional code signing on MacOS. I will keep it open for now, and users are encouraged to try it.

It would be nice if people can some feedback.

[2021-11-22 22:08] motiwari commented on #30
Thanks @thisiscam ! Yes, you are correct that I informally equated "being signed out every time you quit Slack" with "nothing working at all" -- since I have dozens of Slack instances and re-signing into them every time is infeasible

#32 works great -- thanks for the fix! This is critical Slack addition that we can't live without!

[2021-12-12 17:15] thisiscam commented on #30
I merged #32 into master. Closing this for now!

[2021-12-16 20:01] Szepi commented on #30
It seems not everything is working yet:

[code]

Am I doing something wrong? The version of Slack I am using is:
`Version 4.23.0
9895565dda2453a9e5a82b561a75d3af0f471355@1639681045 (Production)`
My Mac is running Monterey version 12.0.1

[2021-12-16 23:05] motiwari commented on #30
@Szepi could you put your output in a

[code]

with triple backtick to preserve newlines?

Interestingly, my version of Slack 4.22.0 refuses to update to 4.23.0 once `math-with-slack` is installed:

![image](https://user-images.githubusercontent.com/13426340/146461829-5ddf5876-25c2-4943-a311-18cc25a86ee7.png)

Maybe 4.23.0 broke something. Could you try with [Slack 4.22.0](https://slack.en.uptodow

[2021-12-16 23:16] thisiscam commented on #30
@Szepi I think I know what your error is about. The issue is that Apple is using a new plist format (for the code signing) since Monterey.  I will work on this some time soon.

[2021-12-16 23:17] thisiscam commented on #30
@motiwari

Unfortunately, this is a side-effect due to custom code-signing. It's not safe for Slack to do hot-patch updates once we've modified its binary. Manually updating (by downloading from Slack website) should work.

[2021-12-17 06:25] Szepi commented on #30
Triple backtip: Done.
I think I'll wait for @thisiscam 's patch; given his response it is likely that the problem has nothing to do with slack but the way plists are handled.

[2021-12-17 18:52] thisiscam commented on #30
@Szepi the raised issue should be addressed by #33.

I had to upgrade my system to implement this, and hopefully this didn't break old Mac versions. Feedbacks on old MacOS system versions are welcomed.

[2021-12-17 18:56] thisiscam opened #34 "How to get back auto-update for MacOS?"
Per [this comment](https://github.com/thisiscam/math-with-slack/issues/30#issuecomment-996261778), Slack's hot-patch update is no longer working due to our custom code signing.

Is it possible to:
- Have any kind of fix so that we get updates back?
- Perhaps have some kind of mechanism to inform user of updates? Or to automatically download from Slack website?

[2021-12-18 18:42] Szepi commented on #30
I downloaded it and tested it. Two things:
1. After a clean install of Slack, without starting Slack first, I applied the patch. Then I tried starting Slack. This did not work as the app was probably checking for its integrity. The moral is that one perhaps needs to start Slack first, then apply the patch. Maybe the doc/FAQ could mentioned something to this effect.
2. The next time after a clean i

[2021-12-18 22:05] thisiscam commented on #30
Yes. This is indeed the behavior since the beginning. I will accept PRs to the doc/FAQ if anyone is willing to contribute. Another option is to try to detect if the Slack App had been opened at least once, if not, warn the user or open it directly.

This should be the keyword when you do `sudo`.

FWIW, I will not encourage people  to use the `--macos-codesign` option if they do not understand the

[2021-12-19 17:47] Szepi commented on #30
I guess this is superior though probably more work:)

Unfortunately, not.

The problem is that the password is not the same so I am locked off from using the option `--macos-codedesign`. A quick internet search confirms that it is somewhat common that people just have separate passwords for the keychain service even though they have no recollection of creating a separate password.

[2021-12-19 20:38] thisiscam commented on #30
I might try to see if I can implement that some time today since that actually seems pretty useful.

Oops, very true, my bad.

Thanks for noticing this! My google search suggest just resetting the keychain password to sync with the user password if one forgets it... I cannot advise people on these security related decisions, so please use any of those methods with care!

[2021-12-20 19:12] MaxGhenis opened #35 "After installing and uninstalling on MacOS: `The application "Slack" can't be opened.`"
Steps:
[code]
I then tried to open Slack, but it said there was an error due to signing. I decided to uninstall rather than try the `--macos-codesign`:
[code]
But I still couldn't open Slack. Clicking on the application didn't do anything. About a minute later, my computer spontaneously restarted, and now when I try to open Slack I get a dialog saying `The application "Slack" can't be opened.`

Un

[2021-12-20 23:39] thisiscam commented on #35
Have you opened Slack at least once before running the script?

[2021-12-21 01:18] MaxGhenis commented on #35
Yes

[2021-12-21 02:44] thisiscam commented on #35
Just checking, which macOS and Slack version are you on?

[2021-12-21 02:45] thisiscam commented on #35
FWIW, you can temporarily fix/reinstall Slack by downloading from their website (if you haven't already, that is). This is pretty safe and shouldn't lost you any data, AFAIK.

[2021-12-21 02:48] thisiscam commented on #35
Wait, I didn't see this. That sounds super weird. This script definitely should not do anything like this, especially if you didn't use the `--macos-codesign` option.

[2021-12-21 22:06] MaxGhenis commented on #35
I'm on MacOS Monterey 12.1 and Slack 4.23.0

[2021-12-21 22:07] thisiscam commented on #35
And you downloaded Slack from website, not App store?

[2021-12-21 22:10] MaxGhenis commented on #35
No, I downloaded Slack from the App Store

[2021-12-21 22:16] thisiscam commented on #35
That's the culprit. For now, you can try the Slack website version. I will do a patch to disable attempts to modify the App store version

[2021-12-21 23:10] MaxGhenis commented on #35
Uninstalling the App Store version and reinstalling from the Slack website produced the same message:
[code]
At this point I had to sign in to all my workspaces again, and TeX didn't render (I tried `$x = y$`).

I uninstalled again to make sure it wasn't pointing to an old App Store installation, which it looks like it wasn't:
[code]
Doing it all again still showed TeX unrendered.

[2021-12-22 04:47] thisiscam commented on #35
Yup this is expected when `--macos-codesign` is not present.

I can't reproduce this (I'm using the same macOS and Slack version as you).
I don't think this is the issue, but worth a shot: perhaps try the newest `master`? I just made some updates.

BTW, you don't need to "uninstall" Slack -- you should be able to  reinstall Slack by using the `.dmg` installer and choosing "replace" when copying. T

[2022-01-03 18:10] #35 closed

[2022-01-22 13:02] ilan-gold commented on #30
Is there a set of steps one can follow to not be signed out but also use this plugin?  I'm a little lost in the discussion here.

[2022-01-24 21:26] thisiscam commented on #30
@ilan-gold If you use the latest master branch, there should be a `--macos-codesign` option to the script.

[2022-01-25 09:54] ilan-gold commented on #30
I have tried that but unfortunately it fails every time.  I have tried a clean install of slack.

[2022-02-27 21:06] dpo commented on #30
Codesigning never succeeds for me either on Monterey.

[2022-03-10 08:38] nieric opened #40 "4.23 MacOS Monterey 12.2.1 not working?"
Hello,

I seemingly cannot get this to work on MacOS Monterey 12.2.1 with Slack 4.23.
I've reinstalled Slack multiple times, and went through the computer to find files (eg. in Library/) left over from old installations that did not get removed. Still, seemingly unsuccessful.

PS.
Additionally, using the --codesign flag seems to work, but when running the scripts manually in their folder, I get
[c

[2022-04-01 00:35] albinahlback commented on #40
What Python version do you use? Have you tried using Python 3.6? That is what is currently tested for this project (however, that is on macOS 11.6 machines).

[2022-04-01 00:48] thisiscam commented on #40
I don't believe Python version matters here AFAIK

[2022-04-02 03:20] thisiscam commented on #40
If the `codesign` works then it's probably fine. There were some update to MacOS that I had fixed in the main script, but forgot to update the the separate bash scripts.

[2022-04-05 08:39] nieric commented on #40
Hi @thisiscam,
great, but I still cannot seem to get Latex to render in Slack on my machine. I've had no issues with this on Windows before.

Since there is no apparent error when running the script, does anyone have a suggestion what I could do to figure out what is wrong?

[2022-04-05 09:05] thisiscam commented on #40
Perhaps you can try `SLACK_DEVELOPER_MENU=1 open /Applications/Slack.app` (change to your Slack.app path). Doing this should open slack. You can then right click anywhere in the UI and get an "inspect element" option. This gives you the chromium debugger. Look for log messages and console outputs, see if there are any related errors?

[2022-04-05 09:06] thisiscam commented on #40
Before doing that, make sure you got a fresh install of slack and the plugin first

[2022-05-06 21:54] motiwari opened #41 "Working in conjunction with code formatting?"
Thanks for making this extension. Are there any plans for making this work with concurrently with code-formatting in slack?

For example, if I want to type a mathematical algorithm as pseudocode, I may need something like

[code]
perhaps this is as simple as checking inside backtick or triple-backtick blocks for latex delimiters and applying the latex style that is congruent with the code formatti

[2022-05-08 10:00] thisiscam commented on #41
You are welcomed to try the above branch and give any feedback!

[2022-05-08 18:47] motiwari commented on #41
Thanks for the quick turnaround!

It looks like it works in triple-backtick code blocks:

<img width="218" alt="image" src="https://user-images.githubusercontent.com/13426340/167310864-835dae53-4b25-4b96-bffc-ba918d2f2a96.png">

But not in inline code segments (tried both \` outside of $ and $ outside of \`):

<img width="105" alt="image" src="https://user-images.githubusercontent.com/13426340/167

[2022-05-08 20:43] thisiscam commented on #41
Just pushed a commit that also enables it for inline code block.

That missing backup is likely something else. It's simply a check there to ensure the plugin did not corrupt Slack.  You should open an issue if this occurs again!

[2022-05-08 20:52] motiwari commented on #41
It works!! Incredible!

![image](https://user-images.githubusercontent.com/13426340/167315384-17698265-982c-4fed-b6aa-9d16ac1d9bb7.png)

[2022-05-08 21:07] thisiscam commented on #41
I suspect there could be places that this might overshoot, but so far I have not found any.
I will leave this open for a couple more days for feedbacks.

[2022-05-09 17:01] thisiscam commented on #30
@ilan-gold @dpo What is your error message when it "fails"? Or does it just fail silently (formula does not render)?

[2022-05-12 01:39] RyanK0902 opened #43 "`math-with-slack` results in "slack quite unexpectedly" error"
Everytime I run `math-with-slack.py` (even with the `--codesign` flag), I always get an error that looks like below
![Screen Shot 2022-05-11 at 6 34 38 PM](https://user-images.githubusercontent.com/79249503/167974747-a40d7a63-2b3a-4bb3-be80-96b3a2a7144b.png)
Any idea why this is happening?

[2022-05-12 01:57] thisiscam commented on #43
Is Slack closed when you run the script?

[2022-05-28 21:00] #41 closed

[2022-06-07 08:51] JoeyAndBlueWhale opened #44 "Installation successful but not working"
The installation was successful. I fully quited slack and restarted it but it is not working. Is it because my slack version is too new? I saw warnings like:
`/Users/dolphinerjoey/Desktop/math-with-slack.py:758: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  return LooseVersion(json.load(f)["version"])
/Users/dolphinerjoey/Desktop/math-with-slack.py:

[2022-06-07 14:49] thisiscam commented on #44
I just tried the latest Slack version 4.26.1 and it is working for me.
The warning you see seems to be Python version related. What's your python version?

That said, I would doubt if the warning is related to the functionality of plugin.

Could you post your macOS version and CPU platform?

[2022-06-07 14:50] thisiscam commented on #44
Also, if you just got a new slack install, you need to open Slack at least once, quit slack, then use the plugin. Hope this helps

[2022-06-08 01:49] JoeyAndBlueWhale commented on #44
Operating system is Monterey 12.4 and CPU is M1 Max. I completely quited and restarted slack multiple times.

[2022-06-08 02:06] thisiscam commented on #44
Hmm, I have 12.3 and and Intel CPU. So your problem could literally be anywhere from CPU platform, script issue to code signing..

If you are willing to debug this with me, you can try [these instructions](https://github.com/thisiscam/math-with-slack/issues/40#issuecomment-1088454450), and let me know of your results?

[2022-06-08 06:03] JoeyAndBlueWhale commented on #40
I did this and found 1 issue and 3 warnings. The issue is
`A page or script is accessing at least one of navigator.userAgent, navigator.appVersion, and navigator.platform. Starting in Chrome 101, the amount of information available in the User Agent string will be reduced.
To fix this issue, replace the usage of navigator.userAgent, navigator.appVersion, and navigator.platform with feature detecti

[2022-06-08 07:09] JoeyAndBlueWhale commented on #44
There is one issue
<img width="556" alt="issue" src="https://user-images.githubusercontent.com/24945663/172554009-61a3d507-180a-43f9-927c-f9124e1c60c3.png">
and some warnings
<img width="553" alt="warnings" src="https://user-images.githubusercontent.com/24945663/172554058-8fe0daf1-e370-44b6-8f92-7e32cbbc3ef6.png">

[2022-06-09 20:06] thisiscam commented on #40
My script is working. I have the same "issue" but I don't see those warnings. So at least we can disregard that issue.

Before getting into anything deeper, what's your result of:
[code]
, after installing the script?

[2022-06-10 01:56] JoeyAndBlueWhale commented on #40
`ents/Resources/app-*
/Applications/Slack.app/Contents/Resources/app-arm64.asar
/Applications/Slack.app/Contents/Resources/app-x64.asar
/Applications/Slack.app/Contents/Resources/app-x64.asar.mwsbak
/Applications/Slack.app/Contents/Resources/app-arm64.asar.unpacked:
dist		node_modules
/Applications/Slack.app/Contents/Resources/app-x64.asar.unpacked:
dist		node_modules
`

[2022-06-10 02:25] thisiscam commented on #40
Aha, the script did not properly recognize your M1 chip. Let me take a look in an hour

[2022-06-10 03:30] thisiscam commented on #40
@JoeyAndBlueWhale

What command did you use to install the script?
And what's your output of `python -c 'import platform; print(platform.machine())'`?

[2022-06-10 08:12] thisiscam commented on #40
I think I found the issue. It's likely that people who run into this issue are using M1 chip apple with Rosette-ed python interpreter. I don't have an M1 chip, but I implemented [this answer](https://stackoverflow.com/a/69853058) in #45 --- hopefully this will solve the problem!

[2022-06-10 14:31] JoeyAndBlueWhale commented on #40
`x86_64`

[2022-06-10 14:33] JoeyAndBlueWhale commented on #40
`sudo python3 math-with-slack.py --macos-codesign
`

[2022-06-10 14:40] JoeyAndBlueWhale commented on #40
I just downloaded the latest version of your code and reinstalled it, it still doesn't work.

[2022-06-10 14:46] JoeyAndBlueWhale commented on #40
It worked! Thank you!

[2022-06-10 14:46] #44 closed

[2022-06-10 14:55] #40 closed

[2022-06-10 18:02] motiwari opened #46 "Enable texing in pinned posts"
Pinned posts currently do not currently render in LaTeX:

<img width="485" alt="image" src="https://user-images.githubusercontent.com/13426340/173124623-f48d8243-1cc8-4565-b135-029e64506a82.png">

Is it possible to fix this?

By the way, I realize that you're working on this pro bono as a service to the community. I greatly appreciate your work and hope you don't mind me submitting these feature r

[2022-06-11 04:18] thisiscam commented on #46
I work on this as a hobby :P
For the most features, I will implement it as long as I know how and if I have the time

[2022-06-11 04:24] thisiscam commented on #30
I'm closing this for now since there is no further information. People should try the lastest master branch since there was a fix of a bug for Apple M1 chips, which was likely the issue for at least some people

[2022-06-11 04:24] #30 closed

[2022-06-18 11:00] #46 closed

[2022-07-04 23:34] motiwari opened #48 "Enable texing in image preview"
It seems that when you click an image with a description in Slack, it opens a new context. In that context, the LaTeX does not render correctly:

![image](https://user-images.githubusercontent.com/13426340/177225432-0f376200-52fb-450e-8374-e82a94d559e5.png)

Possible to fix?

[2022-07-04 23:54] thisiscam commented on #48
Hi @motiwari , I can't reproduce this:
<img width="400" alt="Screen Shot 2022-07-04 at 7 52 18 PM" src="https://user-images.githubusercontent.com/7684342/177226325-ec3b53db-534b-4ce5-af63-78dd3fa48bd0.png">

Which Slack version and system?

[2022-07-05 16:11] motiwari commented on #48
My apologies, I updated `math-with-slack` and the problem is resolved. Perhaps I needed the fix in #47

[2022-07-05 16:11] #48 closed

[2022-07-15 12:50] Shashankti opened #49 "Not working with flatpak version of Slack on ubuntu"
I tried specifying the directory of installation as well but got the following error.

`Traceback (most recent call last):
  File "/home/shashank/math_slack.py", line 1116, in <module>
    main()
  File "/home/shashank/math_slack.py", line 1066, in main
    _, asar_extracted_dir = extract_asar(tmp_dir, app_path)
  File "/home/shashank/math_slack.py", line 752, in extract_asar
    asar_extractor =

[2022-07-17 07:52] thisiscam commented on #49
Is flatpak the same thing as a snap install? #9

[2022-08-09 03:38] RyanK0902 commented on #43
yes it is

[2022-08-10 00:23] thisiscam commented on #43
There had been several updates since the issue was posted. Can you try again with the latest version?
~~This seems to be related to code signing. What is your system version?~~

Nevermind, your screenshot says it is 11.5.2. I suspect this is due to the current code signing only supports macOS 12. (due to some bug, perhaps). I will look into this

[2022-08-17 05:34] thisiscam commented on #43
https://github.com/thisiscam/math-with-slack/commit/52657ef3abe93c412498d5a7575720004f4f57b5 might or might not fix this problem. Could you try again with latest master?

[2022-11-18 21:26] pcarinhas opened #50 "Unable to start on Macos Ventura 13.x"
After installing latest Slack from brew and running the script (both with and without signing), Slack fails to start and gives several error messages.

[2022-11-23 01:55] thisiscam commented on #50
I just upgraded to Ventura and reinstalled Slack via brew. The script still works on my end.
My mac has an Intel chip.

Perhaps make sure that you have opened the Slack app at least once before running the script?